# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="changeme"
NEXTAUTH_URL="http://localhost:3000"

# Stripe
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_PRICE_ID="price_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"